Authlib>=1.3.2
deep-translator
fpdf2
folium
geopandas
joblib
numpy
openai>=1.0.0
pandas
plotly<=5.22.0
pyarrow
rasterio
rasterstats 
scikit-learn
shapely
statsmodels
streamlit>=1.42,<2
streamlit-folium>=0.27.2
xgboost