streamlit
plotly
xgboost
scikit-learn
pandas
numpy
joblib
pyarrow
statsmodels
shap
folium
streamlit-folium
streamlit-cookies-manager
geopandas
shapely
fpdf2
groq
streamlit>=1.42,<2
Authlib>=1.3.2