Authlib>=1.3.2
deep-translator
fpdf2
folium
geopandas
google-genai>=2.10.0
joblib
numpy
openai>=1.0.0
pandas
plotly<=5.22.0
pyarrow
rasterio
rasterstats 
scikit-learn
shap
shapely
statsmodels
streamlit>=1.42,<2
streamlit-cookies-manager
streamlit-folium
xgboost